:root {
  /* cores */
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --azul-botao: #167bf7;
  --cor-de-fundo: #00030c;
 
  /* fontes */
  --fonte-principal: 'Inter';
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-de-fundo);
  
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
  color: var(--branco-principal);
}

.principal {
  background-image: url('../img/Background.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  align-items: center;
  
  text-align: center;
}

.container {
  height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.principal__caixa {
  margin: 0 6em;
}

.principal__titulo {
  font-size: 28px;
  font-weight: 700;
}

.principal__img {
  margin: 2em 0 1em 0;
}

.principal__botao {
  background-color: var(--azul-botao);
  
  border-radius: 5px;
  
  padding: 1em;
  
  margin-bottom: 1em;
  
  color: var(--branco-principal);
  text-decoration: none;
  text-align: center;
  
  display: block;

  transition: 0.3s;
}

.principal__botao:hover {
  background-color: #0754b1;
}

.botao_secundario {
  background-color: transparent;
  
  border: 1px solid var(--branco-principal)
}

.botao_secundario:hover {
  background-color: #7465653b;
}

.principal__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.secundario {
  align-items: center;

  margin: 0 10em;
}

.secundario__img {
  width: 80%;
}

.secundario__descricao {
  padding: 2em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);

  margin-bottom: 0.5em;
}

.descricao__paragrafo {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;

  margin-top: 1em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-principal);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;

  list-style-type: none;

  margin: 5em 0;
}

.dispositivos__lista li {
  font-size: 30px;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
}

.rodape__lista {
  width: 90%;

  display:flex;
  justify-content: space-around;

  list-style-type: none;

  margin: 2em auto;
}

.lista__link a{
  text-decoration: none;
  color: var(--cinza-secundario);
  font-size: 15px;

  transition: 0.3s;
}

.lista__link a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.rodape__aviso {
  width: 80%;

  color: var(--cinza-secundario);
  font-size: small;

  margin: 2em auto;
}

